@import './base.css';

@font-face {
  font-family: win95;
  src: url('W95FA.otf') format('opentype');
}

:root {
  --gray: #c3c3c3;
  --darkGray: #807e7e;
  --lightGray: #e9e9e9;
  --pink: #db97e0;
  --redBrown: #7b0000;
  --green: #1cdf0b;
  --seaColor: #007cb1;
  --darkBlue: #0500ff;
  --orange: #ff8a01;
  --fileNameSize: 16px;
  --dateSize: 25px;
  --smallButtonFontSize: 15px;
  --windowHeaderSize: 34px;
  --windowSecondHeaderSize: 29px;
  --windowThirdHeaderSize: 26px;
  --windowTextSize: 23px;
}

.pink {
  color: var(--pink);
}

.orange {
  color: var(--orange);
}

.darkBlue {
  color: var(--darkBlue);
}

.seaBlue {
  color: var(--seaColor);
}

.red {
  color: var(--redBrown);
}

.green {
  color: var(--green);
}

.gray {
  color: var(--gray);
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline {
  text-decoration: underline;
}

* {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  font-family: 'win95', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif',
    'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
  scrollbar-width: thin;
  scrollbar-color: var(--darkGray) rgba(0, 0, 0, 0);
  user-select: none;
}

*::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--darkGray);
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
